<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/about.css">
    <link rel="stylesheet" href="../styles/modal.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>How-To</title>
</head>
<body>
    <div class="dash-parent-container">
      
            <div class="banner">
               
            </div>

            <h1>About the Support Request Application</h1>
            <img class="dashboard-banner-icon" src="/images/database-blue.png">

            <div class="navbar">
                <a href="/dashboard"><button>Home</button></a>
                <a href="/about"><button class="navbtn">About</button></a>
                <a href="/profile/requests"><button >My Requests</button></a>
                <a href="/profile/analytics"><button >My Analytics</button></a>
                <button class="navbtn" id="searchRequest">Request Search</button>
                <a href="/profile"><button class="navbtn">Update Profile</button></a>
                <a href="/logout"><button class="navbtn">Logout</button></a>
        </div>
<article>

    <div class="intro">
        <h2>The Support Request Application</h2>
   <p>Managing requests that flow into your email inbox can be difficult at a high volume. 
       Project requirements or important events can be lost or forgotten as the emails pile up.
       This project was designed to create an environment in which co-workers and collaborators could request support, 
       organize project requirements, and complete tasks together in a visual manner, 
       without having to manage hundreds of emails in their inbox. This application allows the user to create and log into a profile. 
       Once inside the application, the user has the ability to build a "Support Request" - this is a simple form in which the user 
    can input the type of support they need (a new project, a sub-task of that project, or just a standard request). They can provide a summary for the request,
assign it to another user, and even provide a date that they need the request completed-by.</p>
</article>

   
   
   
   
   
   
        </div>


    
                          <!----- Search Request Modal -------------------------->
    <div id="searchModal" class="modal">

        <div class="modal-content">
              <span id="closeSearch" class="close" title="Click Here to Close">&times;</span>
              
              <h4>Request Search</h4>
              <br>
                <div class="search-container">
                    <div class="searchbar">
                            <label for="searchid">Search Request by ID:</label>
                            <input id="searchid" value="">
                            <button id="searchidBtn"><i class="fas fa-search fa-2x"></i></button>
                            <br>
                            <label for="searchcreator">Search Request by Creator:</label>
                            <input id="searchcreator" value="">
                            <button id="searchcreatorbtn"><i class="fas fa-search fa-2x"></i></button>
                            <br>
                            <label for="searchassignee">Search Request by Assignee:</label>
                            <input id="searchassignee" value="">
                            <button id="searchassigneebtn"><i class="fas fa-search fa-2x"></i></button>
                    </div>
                    <table id="searchtable">
                        </table>
                </div>
</div>
        </div>
        <!------- End of Modal --------------------------------->
    

        <script src="../scripts/search.js"></script>
    </body>
    </html>