<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/dashboard.css">
    <link rel="stylesheet" href="../styles/modal.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>Dashboard</title>
</head>
<body>
    <div class="dash-parent-container">
      
            <div class="banner">
               
            </div>

            <h1>Welcome <span><%=(typeof message!='undefined')? message:''%>!</span></h1>
            <img class="dashboard-banner-icon" src="/images/database-blue.png">

            <div class="navbar">
                    <a href=""><button class="navbtn">How-To</button></a>
                    <a href="profile/requests"><button >My Requests</button></a>
                    <a href="profile/analytics"><button >My Analytics</button></a>
                    <button class="navbtn" id="searchRequest">Request Search</button>
                    <a href="/profile"><button class="navbtn">Update Profile</button></a>
                    <a href="/logout"><button class="navbtn">Logout</button></a>
            </div>
        

        <h4>Support Requests Assigned to You</h4>

        <div class="queue-table-container">
            <!-- Begin Queue Table --> 
                    <table id="queue"class="queue-table" >
                        <tr>
                            <th>Request ID</th>
                            <th>Type</th>
                            <th>Category</th>
                            <th>Creation Date</th>
                            <th>Request Summary</th>
                            <th>Assigned To</th>
                            <th>Created By</th>
                            <th>Status</th>
                            <th>Date Due</th>
                            <th>Comments</th>
                            <th>Tools</th>
                        </tr>
                    </table>
                <br>
            <!-- End Queue Table --> 
            <div class="createbtn-container">
                <button id="create" class="createbtn"><img src="/images/datebase-color-teal.png"><br>Create New Request</button>
                <br>
                <span><%=(typeof createmsg!='undefined')? createmsg:''%></span>
                <br>
            </div>
        </div>

</div>
    
    
    <!----- Create Request Form Modal -------------------------->
    <div id="createModal" class="modal">

    <div class="modal-content">
          <span class="close">&times;</span>
          
          <center><P>Create New Support Request</P></center>
          
          <form method="POST" action="createRequest" class="createForm" id="createform">
            
            <div class="header">
                <label for="type">Request Type</label>
                <select type="text" id="type" name="type" value="type">
                    <option value="default">Choose a Type</option>
                    <option value="Standard Request">Standard Request</option>
                    <option value="Project">Project</option>
                    <option value="Project Subtask">Project Subtask</option>
                    </select>
                    <br>
                    <br>
                <label for="projectid">Project ID: </label>
                <input type="text" id="projectid" name="projectid" value="">
            
                <label for="id">Request ID: </label>
                <input type="number" id="id" name="id" value="" readonly>
                
                <label for="createdby">Created-By: </label>
                <input type="text" id="createdby" name="createdby" value="username" readonly>
                
                <label for="creationdate">Creation Date: </label>
                <input type="date" id="creationdate" name="creationdate" value="" min="2021-01-19" max="2099-12-31" readonly>

                <label for="status">Status: </label>
                <input type="text" id="status" name="status" value="Pending" readonly>
            
            </div>

            <br>
          
            <label for="category">Category</label>
            <select type="text" id="category" name="category" value="category">
                <option value="default">Choose a Category</option>
                <option value="Invoice">Invoice</option>
                <option value="Purchase Order">Purchase Order</option>
                <option value="Production">Production</option>
                <option value="Quotes">Quotes</option>
                <option value="Reports">Reports</option>
                <option value="Sales Order">Sales Order</option>
                <option value="Warehouse">Warehouse</option>
                </select>
            <br>
            <br>
            <label for="requestsummary">Request Summary</label>
            <input type="text" id="requestsummary" name="requestsummary" value="">
            
            <label for="duedate">Date Due</label>
            <input type="date" id="duedate" name="duedate" value="" min="2021-01-19" max="2099-12-31">
            
            <label for="assignedto">Assign To</label>
            <select type="text" id="assignedto" name="assignedto" value="assignedto"></select>
            
          </form>

            <label for="comments">Comments</label><br>
            <textarea type="text" id="comments" name="comments" form="createform"></textarea>
            <br>
            <br>
            <button form="createform" type="submit" id="submitNewReq">Create!</button>

        </div>

    </div>
    <!------- End of Modal --------------------------------->


    <!----- Update Request Modal -------------------------->
    <div id="updateModal" class="modal">

        <div class="modal-content">
              <span id="saveUpdate" class="close">&times;</span>
              
              <center><P>Update Support Request</P></center>
              
              <form method="POST" action="/update/:comments?_method=PUT" class="createForm" id="updateform" enctype="application/x-www-form-urlencoded">
                
                    <input type="hidden" name="_method" value="PUT">

                    <label for="updateid">Request ID: </label>
                    <input type="number" id="updateid" name="updateid" value="" readonly>
                    
              </form>
    
                <label for="updatecomments">Comments</label><br>
                <textarea type="text" id="updatecomments" name="updatecomments" form="updateform"></textarea>
                <br>
                <br>
                <button form="updateform" type="submit" id="updatebtn">Save</button>
    
            </div>
    
        </div>
        <!------- End of Modal --------------------------------->

            <!----- Search Request Modal -------------------------->
    <div id="searchModal" class="modal">

        <div class="modal-content">
              <span id="closeSearch" class="close">&times;</span>
              
              <center><P>Request Search</P></center>
       
                <label for="searchid">Search Request by ID:</label>
                <input id="searchid" value="">
                <button id="searchidBtn">Search</button>
                <br>
                <label for="searchcreator">Search Request by Creator:</label>
                <input id="searchcreator" value="">
                <button id="searchcreatorbtn">Search</button>
                <br>
                <label for="searchassignee">Search Request by Assignee:</label>
                <input id="searchassignee" value="">
                <button id="searchassigneebtn">Search</button>
                <br>
                <br>
                <table id="searchtable">
                    </table>

</div>
        </div>
        <!------- End of Modal --------------------------------->

    <script src="../scripts/create.js"></script>
    <script src="../scripts/queue.js"></script>
    <script src="../scripts/search.js"></script>
</body>
</html>