<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/modal.css">
    <title>Dashboard</title>
</head>
<body>
    <h1>Welcome<span> <%=(typeof message!='undefined')? message:''%>!</span></h1>
    <hr>
    <button id="create">CREATE<br>Request</button>
    <br>
    <br>

    <div id="createModal" class="modal">

    <!----- Create Request Form Modal -------------------------->
    
    <div class="modal-content">
          <span class="close">&times;</span>
          
          <center><P>Create New Support Request</P></center>
          
          <form method="POST" action="createRequest" class="createForm" id="createform">
            <div class="header">
            
                <label for="id">Request ID: </label>
                <input type="number" id="id" name="id" value="" readonly>
                
                <label for="createdby">Created-By: </label>
                <input type="text" id="createdby" name="createdby" value="username" readonly>
                
                <label for="creationdate">Creation Date: </label>
                <input type="date" id="creationdate" name="creationdate" value="" min="2021-01-19" max="2099-12-31" readonly>

                <label for="status">Status: </label>
                <input type="text" id="status" name="status" value="Pending" readonly>
            
            </div>

            <label for="projectid">Project ID: </label>
                <input type="text" id="projectid" name="projectid" value="N/A">
            
                <br>
            <label for="type">Request Type</label>
            <select type="text" id="type" name="type" value="type">
                <option value="default">Choose a Type</option>
                <option value="Standard Request">Standard Request</option>
                <option value="Project">Project</option>
                <option value="Project Sub-Task">Project Sub-Task</option>
                </select>
          
            <label for="category">Category</label>
            <select type="text" id="category" name="category" value="category">
                <option value="default">Choose a Category</option>
                <option value="Invoice">Invoice</option>
                <option value="Purchase Order">Purchase Order</option>
                <option value="Production">Production</option>
                <option value="Quotes">Quotes</option>
                <option value="Reports">Reports</option>
                <option value="Sales Order">Sales Order</option>
                <option value="Warehouse">Warehouse</option>
                </select>
            <br>
            <br>
            <label for="requestsummary">Request Summary</label>
            <input type="text" id="requestsummary" name="requestsummary" value="some text...">
            
            <label for="duedate">Date Due</label>
            <input type="date" id="duedate" name="duedate" value="2021-01-20" min="2021-01-19" max="2099-12-31">
            
            <label for="assignedto">Assign To</label>
            <select type="text" id="assignedto" name="assignedto" value="assignedto"></select>
            
          </form>

            <label for="comments">Comments</label><br>
            <textarea type="text" id="comments" name="comments" form="createform"></textarea>
            <br>
            <label for="attachment">Upload Attachment(s)</label>
            <input form="createform" type="file" id="attachment" name="attachment" value="attachment" multiple>
            <br>
            <br>
            <button form="createform" type="submit" id="submitNewReq">Create!</button>

        </div>
    <!------- End of Modal --------------------------------->
      
      </div>
    
    
    <a href="/logout"><button>Logout</button></a>

    <script src="../scripts/create.js"></script>
</body>
</html>