<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/dashboard.css">
    <link rel="stylesheet" href="../styles/modal.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>Dashboard</title>
</head>
<body>
    <div class="dash-parent-container">
      
            <div class="banner">
               
            </div>

            <h1>Welcome <span><%=(typeof message!='undefined')? message:''%>!</span></h1>
            <img class="dashboard-banner-icon" src="/images/database-blue.png">

            <div class="navbar">
                    <a href="/about"><button class="navbtn">About</button></a>
                    <a href="profile/requests"><button >My Requests</button></a>
                    <a href="profile/analytics"><button >My Analytics</button></a>
                    <button class="navbtn" id="searchRequest">Request Search</button>
                    <a href="/profile"><button class="navbtn">Update Profile</button></a>
                    <a href="/logout"><button class="navbtn">Logout</button></a>
            </div>
        

        <h4>Support Requests Assigned to You</h4>

        <div class="queue-table-container">
            <!-- Begin Queue Table --> 
                    <table id="queue"class="queue-table" >
                        <tr>
                            <th>Request ID</th>
                            <th>Type</th>
                            <th>Category</th>
                            <th>Creation Date</th>
                            <th>Request Summary</th>
                            <th>Assigned To</th>
                            <th>Created By</th>
                            <th>Status</th>
                            <th>Date Due</th>
                            <th>Comments</th>
                            <th>Tools</th>
                        </tr>
                    </table>
                <br>
            <!-- End Queue Table --> 
            <div class="createbtn-container">
                <button id="create" class="createbtn"><img src="/images/datebase-color-teal.png"><br>Create New Request</button>
                <br>
                <span><%=(typeof createmsg!='undefined')? createmsg:''%></span>
                <br>
            </div>
        </div>

</div>
    
    
    <!----- Create Request Form Modal -------------------------->
    <div id="createModal" class="modal">
   
    <div class="modal-content">
          <span class="close">&times;</span>
          
          <h2>Create a New Support Request</h2>
          
          <form method="POST" action="createRequest" class="createForm" id="createform">
            
            <header id="create-container">
               <div class="type-container">
                <label for="type">Request Type</label>
                <select type="text" id="type" name="type" value="type">
                    <option value="default">Choose a Type</option>
                    <option value="Standard Request">Standard Request</option>
                    <option value="Project">Project</option>
                    <option value="Project Subtask">Project Subtask</option>
                </select>
            </div>
                <div class="assignedto-container">
                    <label for="assignedto">Assign To: </label>
                    <select type="text" id="assignedto" name="assignedto" value="assignedto"></select>
                </div>
                <div class="inline-container">
                <div class="category-container">
                    <label for="category">Category: </label>
                    <select type="text" id="category" name="category" value="category">
                        <option value="default">Choose a Category</option>
                        <option value="Invoice">Invoice</option>
                        <option value="Purchase Order">Purchase Order</option>
                        <option value="Production">Production</option>
                        <option value="Quotes">Quotes</option>
                        <option value="Reports">Reports</option>
                        <option value="Sales Order">Sales Order</option>
                        <option value="Warehouse">Warehouse</option>
                        </select>
                    </div>
                    <div class="projectid-container">
                    <label for="projectid" id="projectidlabel">Project ID: </label>
                    <input type="text" id="projectid" name="projectid" value="">
                    </div>
                </div>
                <div class="auto-fields">  
                <label for="id">Request ID: </label>
                <input type="number" id="id" name="id" value="" readonly>
            <br>
                <label for="createdby">Created-By: </label>
                <input type="text" id="createdby" name="createdby" value="username" readonly>
            <br>  
                <label for="creationdate">Creation Date: </label>
                <input type="date" id="creationdate" name="creationdate" value="" min="2021-01-19" max="2099-12-31" readonly>
                <br>  
                <label for="status">Status: </label>
                <input type="text" id="status" name="status" value="Pending" readonly>
                <br>  
            </div>
            <img id="form-img" src="/images/datebase-color-teal.png">
            <br>
            <div class="requestsummary-container">
                <label for="requestsummary">Request Summary</label>
                <input type="text" id="requestsummary" name="requestsummary" value="">
            </div>
            
            <div class="datedue-container">
            <label for="duedate">Date Due</label>
            <input type="date" id="duedate" name="duedate" value="" min="2021-01-19" max="2099-12-31">
        </div>
            <br>
      
          </form>

          <div class="comments-container">
            <label for="comments">Comments</label><br>
            <textarea type="text" id="comments" name="comments" form="createform"></textarea>
        </div>
            <button form="createform" type="submit" id="submitNewReq"><span>Create!</span><img src="/images/database-circle-icon.png"></button>

            
        </header>
        </div>
 
    </div>
    <!------- End of Modal --------------------------------->


    <!----- Update Request Modal -------------------------->
    <div id="updateModal" class="modal">

        <div class="modal-content" id="updateModal-container">
              <span id="saveUpdate" class="close">&times;</span>
              
            <center><h3>Update Support Request</h3></center>
              
              <form method="POST" action="/update/:comments?_method=PUT" class="createForm" id="updateform" enctype="application/x-www-form-urlencoded">
                
                    <input type="hidden" name="_method" value="PUT">
<div class="updateid-container">
                    <label for="updateid">Request ID: </label>
                    <input type="number" id="updateid" name="updateid" value="" readonly>
                </div>             
              </form>
              <div class="updatecomments-container">
                <label for="updatecomments">Comments: </label>
                <br>
                <textarea type="text" id="updatecomments" name="updatecomments" form="updateform"></textarea>
            </div> 
            
            <button form="updateform" type="submit" id="updatebtn"><i class="fas fa-save fa-3x"></i><span>Save</span></button>
    
            </div>
    
        </div>
        <!------- End of Modal --------------------------------->

            <!----- Search Request Modal -------------------------->
    <div id="searchModal" class="modal">

        <div class="modal-content">
              <span id="closeSearch" class="close" title="Click Here to Close">&times;</span>
              
              <h4>Request Search</h4>
              <br>
                <div class="search-container">
                    <div class="searchbar">
                            <label for="searchid">Search Request by ID:</label>
                            <input id="searchid" value="">
                            <button id="searchidBtn"><i class="fas fa-search fa-2x"></i></button>
                            <br>
                            <label for="searchcreator">Search Request by Creator:</label>
                            <input id="searchcreator" value="">
                            <button id="searchcreatorbtn"><i class="fas fa-search fa-2x"></i></button>
                            <br>
                            <label for="searchassignee">Search Request by Assignee:</label>
                            <input id="searchassignee" value="">
                            <button id="searchassigneebtn"><i class="fas fa-search fa-2x"></i></button>
                    </div>
                    <table id="searchtable">
                        </table>
                </div>
</div>
        </div>
        <!------- End of Modal --------------------------------->

    <script src="../scripts/create.js"></script>
    <script src="../scripts/queue.js"></script>
    <script src="../scripts/search.js"></script>
</body>
</html>