<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/user-profile.css">
    <link rel="stylesheet" href="../styles/modal.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>Profile - Support Request Tool</title>
</head>
<body>
    <div class="dash-parent-container">
      
        <div class="banner"></div>
    
        <h1>My Profile</h1>
        <img class="dashboard-banner-icon" src="/images/database-blue.png">
    
        <div class="navbar">
            <a href="/dashboard"><button>Home</button></a>
            <a href="/about"><button class="navbtn">About</button></a>
            <a href="/profile/requests"><button>My Requests</button></a>
            <a href="/profile/analytics"><button>My Analytics</button></a>
            <button id="searchRequest">Request Search</button>
            <a href="/logout"><button>Logout</button></a>
        </div>

        <div class="profile-container">
            <p>Your Username is:  <span id="username"></span></p>
            <p>Current Email:  <span id="email"></span></p>

            <button id="newemailbtn">Change Email</button>
            <button id="newpasswordbtn">Change Password</button>
        </div> 


            <p id="displayAlert"></p>

        <div class="hidden-options">
            <div class="hidden-options-email">
                <label for="newemail" id="emaillabel">Enter Your New Email: </label>
                <input id="newemail" value="your-email@example.com" type="email">
                <button id="saveemail">Save Email</button>
                
            </div>

            <div class="hidden-options-password">
                <label for="newpassword" id="passwordlabel">Enter Your New Password: </label>
                <input id="newpassword" type="password">
                <br>
                <label for="confirmnewpassword" id="confirmlabel">Re-Enter Your New Password: </label>
                <input id="confirmnewpassword" type="password">
            </div>

            <div class="savepassbtn-container">  
                <button id="savepassword">Save Password</button>  
                <p id="passwordreqs">Your password must be at least eight characters, and must contain at least one number, one uppercase letter, and one lowercase letter.</p>
            </div>

        </div>
    
    </div>
    
            <!----- Search Request Modal -------------------------->
            <div id="searchModal" class="modal">

                <div class="modal-content">
                      <span id="closeSearch" class="close" title="Click Here to Close">&times;</span>
                      
                      <h4>Request Search</h4>
                      <br>
                        <div class="search-container">
                            <div class="searchbar">
                                    <label for="searchid">Search Request by ID:</label>
                                    <input id="searchid" value="">
                                    <button id="searchidBtn"><i class="fas fa-search fa-2x"></i></button>
                                    <br>
                                    <label for="searchcreator">Search Request by Creator:</label>
                                    <input id="searchcreator" value="">
                                    <button id="searchcreatorbtn"><i class="fas fa-search fa-2x"></i></button>
                                    <br>
                                    <label for="searchassignee">Search Request by Assignee:</label>
                                    <input id="searchassignee" value="">
                                    <button id="searchassigneebtn"><i class="fas fa-search fa-2x"></i></button>
                            </div>
                            <table id="searchtable">
                                </table>
                        </div>
        </div>
                </div>
                <!------- End of Modal --------------------------------->
        
    <script src="../scripts/search.js"></script>
    <script src="../scripts/update-profile.js"></script>
</body>
</html>