<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/modal.css">
    <title>Profile - Support Request Tool</title>
</head>
<body>
    <h1>My Profile</h1>
    <hr>
    <a href="/dashboard"><button>Home</button></a>
    <a href=""><button class="navbtn">How-To</button></a>
    <a href="/profile/requests"><button>My Requests</button></a>
    <a href="/profile/analytics"><button>My Analytics</button></a>
    <button id="searchRequest">Request Search</button>
    <a href="/logout"><button>Logout</button></a>
    <br>
    <br>
    <p id="displayAlert"></p>
    <br>
    <p>Current Email: <span id="useremail"></span></p>
    <br>
    <button id="newemailbtn">Change Email</button>
    <button id="newpasswordbtn">Change Password</button>
    
    <input id="newemail" value="Enter Your New Email" type="email">
    <button id="saveemail">Save Email</button>
    <br>
    <label for="newpassword" id="passwordlabel">Enter Your New Password Below:</label>
    <input id="newpassword" type="password">
    <label for="confirmnewpassword" id="confirmlabel">Re-Enter Your New Password:</label>
    <input id="confirmnewpassword" type="password">
    <button id="savepassword">Save Password</button>
    <p id="passwordreqs">Your password must be at least eight characters, and must contain at least one number, one uppercase letter, and one lowercase letter.</p>

    
<!----- Search Request Modal -------------------------->
<div id="searchModal" class="modal">

    <div class="modal-content">
          <span id="closeSearch" class="close">&times;</span>
          
          <center><P>Request Search</P></center>
   
            <label for="searchid">Search Request by ID:</label>
            <input id="searchid" value="">
            <button id="searchidBtn">Search</button>
            <br>
            <label for="searchcreator">Search Request by Creator:</label>
            <input id="searchcreator" value="">
            <button id="searchcreatorbtn">Search</button>
            <br>
            <label for="searchassignee">Search Request by Assignee:</label>
            <input id="searchassignee" value="">
            <button id="searchassigneebtn">Search</button>
            <br>
            <br>
            <table id="searchtable">
                </table>

</div>
    </div>
    <!------- End of Modal --------------------------------->
        
    <script src="../scripts/search.js"></script>
    <script src="../scripts/update-profile.js"></script>
</body>
</html>