<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/analytics.css">
    <link rel="stylesheet" href="../styles/modal.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>My Analytics - Support Request Tool</title>
</head>
<body>
    <div class="dash-parent-container">
      
        <div class="banner"></div>

            <h1>My Analytics</h1>
            <img class="dashboard-banner-icon" src="/images/database-blue.png">
            
            <div class="navbar">
                <a href="/dashboard"><button>Home</button></a>
                <a href="/about"><button class="navbtn">About</button></a>
                <a href="/profile/requests"><button >My Requests</button></a>
                <a href=""><button >My Analytics</button></a>
                <button class="navbtn" id="searchRequest">Request Search</button>
                <a href="/profile"><button class="navbtn">Update Profile</button></a>
                <a href="/logout"><button class="navbtn">Logout</button></a>
        </div>

                
                    <div id="requestnum">
                        <canvas id="chart1" class="chart1"></canvas>
                    </div>
                    
                    <div id="duecurrentweek">
                        <canvas id="chart2" class="chart2"></canvas>
                    </div>

                    <div id="usertimeline">
                        <canvas id="chart3"  class="chart3"></canvas>
                    </div>
               
                </div>
    
            <!----- Search Request Modal -------------------------->
            <div id="searchModal" class="modal">

                <div class="modal-content">
                      <span id="closeSearch" class="close" title="Click Here to Close">&times;</span>
                      
                      <h4>Request Search</h4>
                      <br>
                        <div class="search-container">
                            <div class="searchbar">
                                    <label for="searchid">Search Request by ID:</label>
                                    <input id="searchid" value="">
                                    <button id="searchidBtn"><i class="fas fa-search fa-2x"></i></button>
                                    <br>
                                    <label for="searchcreator">Search Request by Creator:</label>
                                    <input id="searchcreator" value="">
                                    <button id="searchcreatorbtn"><i class="fas fa-search fa-2x"></i></button>
                                    <br>
                                    <label for="searchassignee">Search Request by Assignee:</label>
                                    <input id="searchassignee" value="">
                                    <button id="searchassigneebtn"><i class="fas fa-search fa-2x"></i></button>
                            </div>
                            <table id="searchtable">
                                </table>
                        </div>
        </div>
                </div>
                <!------- End of Modal --------------------------------->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script>moment().format();</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
    <script src="../scripts/analytics.js"></script>
    <script src="../scripts/search.js"></script>
</body>
</html>