<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/modal.css">
    <title>My Analytics - Support Request Tool</title>
</head>
<body>
    <h1>My Analytics</h1>
    <hr>
    <a href="/dashboard"><button>Dashboard</button></a>
    <a href="/profile/requests"><button>My Requests</button></a>
    <button id="searchRequest">Request Search</button>
    <a href="/profile"><button>Update Profile</button></a>
    <a href="/logout"><button>Logout</button></a>

    <div id="requestnum" class="chart1">
        <canvas id="chart1"></canvas>
    </div>
    
    <div id="duecurrentweek" class="chart2">
        <canvas id="chart2"></canvas>
    </div>

    <div id="usertimeline" class="chart3">
        <canvas id="chart3"></canvas>
    </div>
    
<!----- Search Request Modal -------------------------->
<div id="searchModal" class="modal">

    <div class="modal-content">
          <span id="closeSearch" class="close">&times;</span>
          
          <center><P>Request Search</P></center>
   
            <label for="searchid">Search Request by ID:</label>
            <input id="searchid" value="">
            <button id="searchidBtn">Search</button>
            <br>
            <label for="searchcreator">Search Request by Creator:</label>
            <input id="searchcreator" value="">
            <button id="searchcreatorbtn">Search</button>
            <br>
            <label for="searchassignee">Search Request by Assignee:</label>
            <input id="searchassignee" value="">
            <button id="searchassigneebtn">Search</button>
            <br>
            <br>
            <table id="searchtable">
                </table>

</div>
    </div>
    <!------- End of Modal --------------------------------->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script>moment().format();</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
    <script src="../scripts/analytics.js"></script>
    <script src="../scripts/search.js"></script>
</body>
</html>