<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/user-requests.css">
    <link rel="stylesheet" href="../styles/modal.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>My Requests - Support Request Tool</title>
</head>
<body>
    <div class="dash-parent-container">
      
        <div class="banner"></div>

        <h1>My Requests</h1>
        <img class="dashboard-banner-icon" src="/images/database-blue.png">
        
        <div class="navbar">
            <a href="/dashboard"><button>Home</button></a>
            <a href=""><button class="navbtn">How-To</button></a>
            <a href="/profile/analytics"><button>My Analytics</button></a>
            <button id="searchRequest">Request Search</button>
            <a href="/profile"><button>Update Profile</button></a>
            <a href="/logout"><button>Logout</button></a>
        </div>

            <!-- Begin Open Requests Table --> 

            <div class="open-request-container">
                <h4>Your Open Support Requests</h4>
                <table id="openrequests" class="open-request-table">
                    <tr>
                        <th>Request ID</th>
                        <th>Type</th>
                        <th>Category</th>
                        <th>Creation Date</th>
                        <th>Request Summary</th>
                        <th>Assigned To</th>
                        <th>Created By</th>
                        <th>Status</th>
                        <th>Date Due</th>
                        <th>Comments</th>
                        <th>Tools</th>
                    </tr>
                    </table>
                <br>
            
            <!-- End Open Requests Table --> 

                    <!-- Begin Closed Requests Table --> 
                    <h4 id="closed-header">Your Closed Support Requests</h4>
                    <table id="closedrequests" class="open-request-table">
                        <tr>
                            <th>Request ID</th>
                            <th>Type</th>
                            <th>Category</th>
                            <th>Creation Date</th>
                            <th>Request Summary</th>
                            <th>Assigned To</th>
                            <th>Created By</th>
                            <th>Status</th>
                            <th>Date Due</th>
                            <th>Comments</th>
                        </tr>
                        </table>
                    <br>
                    <!-- End Closed Requests Table --> 
                </div>
    </div>
    

        <!----- Update Request Modal -------------------------->
        <div id="updateModal" class="modal">

            <div class="modal-content">
                  <span id="saveUpdate" class="close">&times;</span>
                  
                  <center><P>Update Support Request</P></center>
                  
                  <form method="POST" action="/update/:comments?_method=PUT" class="createForm" id="updateform" enctype="application/x-www-form-urlencoded">
                    
                        <input type="hidden" name="_method" value="PUT">
    
                        <label for="updateid">Request ID: </label>
                        <input type="number" id="updateid" name="updateid" value="" readonly>
                        
                  </form>
        
                    <label for="updatecomments">Comments</label><br>
                    <textarea type="text" id="updatecomments" name="updatecomments" form="updateform"></textarea>
                    <br>
                    <br>
                    <button form="updateform" type="submit" id="updatebtn">Save</button>
        
            </div>
        
        </div>
            <!------- End of Modal --------------------------------->

            <!----- Search Request Modal -------------------------->
    <div id="searchModal" class="modal">

        <div class="modal-content">
              <span id="closeSearch" class="close">&times;</span>
              
              <center><P>Request Search</P></center>
       
                <label for="searchid">Search Request by ID:</label>
                <input id="searchid" value="">
                <button id="searchidBtn">Search</button>
                <br>
                <label for="searchcreator">Search Request by Creator:</label>
                <input id="searchcreator" value="">
                <button id="searchcreatorbtn">Search</button>
                <br>
                <label for="searchassignee">Search Request by Assignee:</label>
                <input id="searchassignee" value="">
                <button id="searchassigneebtn">Search</button>
                <br>
                <br>
                <table id="searchtable">
                    </table>

        </div>
    </div>
        <!------- End of Modal --------------------------------->

            <script src="../scripts/user-requests.js"></script>
            <script src="../scripts/search.js"></script>
</body>
</html>