* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.dash-parent-container { 
    display: grid;
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(16, 1fr);
    background-color: white;
}

.dashboard-banner-icon {
    grid-column: 1/2;
    grid-row: 1/1;
    height: 15vh;
    width: auto;
}

.banner {
    grid-column: 1/13;
    grid-row: 1/2;
    background-color:rgb(69, 183, 175);
}

.navbar {
    grid-column: 1/13;
    grid-row: 2/2;
    background-color: rgba(94, 92, 92, 0.808);
    margin-bottom: 0;
    box-shadow: 0vh 1vh 3vh grey;
    height: max-content;
    display: inline-block;
    white-space: nowrap;
    text-align: center;
}

.navbar button {
    background-color: rgba(94, 92, 92, 0);
    border: 0;
    font-family: roboto, sans-serif;
    font-size: 2.6vh;
    width: auto;
    height: max-content;
    padding: 1vh 3%;
    margin: 0 1vh;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.616);
}

.navbar button:hover {
transition: 0.3s;
transform: translateY(0.4vh);
background-color: rgb(69, 183, 175);
border-radius: 0.5vh;
color: white;
}

h1 {
    grid-column: 3/12;
    grid-row: 1/2;
    align-self: center;
    font-family: roboto, sans-serif;
    font-size: 220%;
}

article {
    font-family: 'Roboto', sans-serif;
    grid-row: 3/5;
    grid-column: 1/10;
    line-height: 1.5rem;
    margin-left: 3vh;
}

article p {
    text-indent: 2rem;
}

article h2 {
    margin: 2vh 0vh 3vh 0vh;
}

.intro {
    border: solid rgba(128, 128, 128, 0.435) 2px;
    border-radius: 1vh;
    max-height: fit-content;
    width: 800;
    margin-top: 3vh;
    padding: 2vh;
    font-size: 14px;
}