/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 2% auto; /* 15% from the top and centered */
    padding: 5px;
    width: 70%; /* Could be more or less, depending on screen size */
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    border: solid rgb(68, 65, 65) 3px;
    box-shadow: 0vh 1vh 3vh rgb(54, 50, 50);
    border-radius: 2vh;
  }

  .modal-content h4 {
    text-align: center;
    font-size: 28px;
    color:grey;
    margin-top: 1vh;
  }

  .search-container label {
    font-style: italic;
    margin: 2vh 0vh;
  }
  
  /* The Close Button */
  .close {
    color: rgb(128, 128, 128);;
    float:right;
    font-size: 55px;
    font-weight: bold;
    margin: 0 2vh 0 2vh;
  }
  
  .close:hover,
  .close:focus {
    color: rgb(166, 21, 21);
    text-decoration: none;
    cursor: pointer;
  }

  .search-container input {
    padding: 1vh;
    margin: .25vh 0vh .25vh .25vh;
    font-family: 'Roboto', sans-serif;
    width: 400px;
    border: 0;
    border-bottom: 2px solid rgba(128, 128, 128, 0.356);
    outline: 0;
    font-size: 1.3rem;
    color: black;
    padding: 7px 0;
    background: transparent;
}

.search-container input:hover {
  transition: 0.1s;
  border-bottom: 2px solid rgb(41, 187, 172);
  background-color: rgba(143, 231, 222, 0.336);
  border-radius: 1vh;
}

  
.search-container button {
  border: 0;
  background-color: white;
}

.search-container table {
  border-collapse: collapse;
  font-size: 0.9em;
  font-family: 'Roboto', sans-serif;
  width: max-content;
  box-shadow: 0 1vh 3vh rgba(0, 0, 0, 0.15);
  text-align: center;
  margin: 2vh 3vh 3vh 3vh;
  width: auto;
  max-height: 600px;
  display:block;
  overflow-y: scroll;
  overflow-x: scroll;
  font-size: 14px !important;
}

.search-container th {
  background-color: rgb(69, 183, 175);
  font-size: 16px;
  padding: 1vh 3vh;
  justify-items: center;
  border-bottom: solid rgb(233, 221, 221) 3px;
}

.search-container  tr {
  background-color: whitesmoke;
  border-bottom: solid rgb(233, 221, 221) 3px;
}
.searchbar {
  text-align: end;
  width: 75%;
  height: auto;
}

.fa-search:hover {
  color:rgb(41, 187, 172);
  transition: .3s;
  transform: translateX(4px);
}

.modal-content header {
  font-size: 20px;
  font-style:initial !important;
}

#create-container input {
  font-size: 14px;
  color: rgb(78, 76, 76);
  width: 300px;
  height: auto;
  min-height: 40px;
}

#create-container {
  min-height: fit-content;
  height: auto;
  width:85%;
  padding: 3vh 5vh;
  margin: 3vh 0 4vh 10vh;
  background-color:rgba(245, 245, 245, 0.559);
  border-radius: 2vh;
  box-shadow: 0 2vh 5vh cadetblue;
  border: solid cadetblue 2px;
}

.alertmsg-container {
  text-align: center;
  font-size: 2vh;
  border: solid black .25vh;
  background-color: white;
  width: 30%;
  float: left;
  position: absolute;
  top: 10%;
  color: crimson;
  box-shadow: 0 0 1vh cadetblue;
  visibility: hidden;
}
.type-container {
  width: 50%;
  display: inline-block;
  margin-top:2vh;
}

.inline-container {
  display: inline-block;
  width: 100%;
}

.projectid-container {
  width: 50%;
  margin: 1vh 0;
  visibility: hidden;
  display: inline-block;
}


.auto-fields input {
  border: 0;
  font-size: 18px !important;
  background-color: transparent;
  color: white !important;
}

.auto-fields {
  border: solid rgba(128, 128, 128, 0.463) 1px;
  width: fit-content;
  padding: 0 2vh;
  box-shadow: 0 0 2px rgb(102, 98, 98);
  border-radius: 2vh;
  background-color: cadetblue;
  color: white;
  display: block;
}

.auto-fields label {
  font-size: 18px !important;
}

.requestsummary-container {
  width: 80%;
  height: auto;
}

.category-container {
float: right;
margin-top: 1vh;
}

.assignedto-container {
  float:right;
  text-align: end;
}

.comments-container {
  width: fit-content;
  height:auto;
  margin: 1vh 3vh 0 0;
}

textarea {
  width: 320%;
  height: 20vh;
  padding: 3vh;
  border: solid rgba(128, 128, 128, 0.356) 2px;
  border-radius: 2vh;
}

.datedue-container {
  margin: 2vh 0 0 0;
}

.datedue-container input{
  width: fit-content!important;
}

h2 {
  text-align: center;
  color:cadetblue;
  margin: 1vh;
}

#requestsummary, #duedate, #projectid {
  font-family: 'Roboto', sans-serif;
  border: 0;
  border-bottom: 2px solid rgba(128, 128, 128, 0.356);
  outline: 0;
  font-size: 1.3rem;
  color: black;
  background: transparent;
  padding: 0vh 1vh;
}

#requestsummary:hover, #comments:hover, #duedate:hover, #projectid:hover {
  transition: 0.1s;
  border-bottom: 2px solid rgb(41, 187, 172);
  background-color: rgba(164, 177, 177, 0.312);
  border-radius: 1vh;
}

#form-img {
  width: 200px;
  height: auto;
  margin: 0 0 0 38%;
  border-radius: 5vh;
  position: absolute;
  top: 35%;
}

#submitNewReq {
  font-family: 'Roboto', sans-serif;
  background-color: white;
  border: solid rgb(69, 183, 175) 3px;
  box-shadow: 0vh .5vh 2vh grey;
  border-radius: 4vh;
  font-size: 20px;
  color: rgb(97, 96, 96);
  padding: 1vh 2vh;
margin-left: 35%
}

#submitNewReq img {
  vertical-align: middle;
  padding: 1vh;
}

#submitNewReq:hover {
background-color: cadetblue;
border: cadetblue;
color: white;
transition: 0.3s;
transition-timing-function: ease-in-out;
transform: translateX(5vh); 
}

select { 
  background-color: cadetblue;
  color: white;
  padding: 8px;
  width: 200px;
  border: solid cadetblue 2px;
  font-size: 16px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  outline: none;
  border-radius: 2vh;
}

option {
  background-color: white;
}

select:hover {
  background-color: white;
  transition: 0.4s;
  color: black;
}

#updateModal-container {
padding: 3vh;
}

#updateModal-container input {
  font-family: 'Roboto', sans-serif;
  border: 0;
  border-bottom: 2px solid rgba(128, 128, 128, 0.356);
  font-size: 18px;
  color: cadetblue;
  background: transparent;
  padding: 0vh 1vh;
}

.updateid-container {
  margin: 1vh;
  padding: 1vh;
}

.updatecomments-container {
  margin: 1vh;
  padding: 1vh;
}

.updatecomments-container textarea {
  margin: 1vh 0vh;
  border-radius: 1vh;
  font-family: 'Roboto',sans-serif;
}

.updatecomments-container textarea:hover {
  transition: 0.1s;
  border: 2px solid rgb(41, 187, 172);
  background-color: rgba(164, 177, 177, 0.312);
  border-radius: 1vh;
}

#updatebtn {
border: solid rgba(0, 0, 0, 0.442) 2px;
background-color: white;
font-family: 'Roboto', sans-serif;
font-size: 18px;
padding: 1vh 3vh;
border-radius: 10vh;
box-shadow: 0 1vh 1vh grey;
width: 200px;
height: auto;
margin-left: 30%;
}

#updatebtn span {
display:block;
color:rgb(102, 98, 98);
}

.fa-save {
  color: cadetblue;
}

#updatebtn:hover .fa-save {
color: white;
}

#updatebtn:hover span {
  color: white;
  }

#updatebtn:hover {
  border: solid white 2px;
  background-color: rgb(41, 187, 172);
  box-shadow: 0 1vh 2vh teal;
  transition: 0.4s;
  transform: translateY(-2px);
  }

  h3 {
    margin-left: 27%;
  }