* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(120deg, rgb(94, 92, 92), white);
    background-repeat: no-repeat;
    background-attachment: fixed;
}


table, th, td, tr {
    border: 1px solid black;
    border-collapse: collapse;
    font-size: 10px;
    padding: 2px;
  }

.rejectButton {
    background-color: red;
}

.updateButton {
    background-color: yellow;
}

.resolveButton {
    background-color: green;
}


#newemail, #saveemail, #passwordlabel, #savepassword, #newpassword, #confirmnewpassword, #confirmlabel, #passwordreqs { 
visibility: hidden;
}

.chart1 {
    border: solid black 1px;
    width:max-content;
    height: max-content;
    }

.chart2 {
    border: solid black 1px;
    width:max-content;
    height: max-content;
    }

.chart3 {
border: solid black 1px;
width:max-content;
height: max-content;
}






